/*GLOBAL STYLES*/
html {
    padding:0 30px 30px;
    box-shadow: 0 0 0 30px #000 inset;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body a {
    color: #24b5ae;
}
p {
    margin: 0 0 0.75em;
}
.content-container {
    display: flex;
    flex: 1;
    padding-top: 11vh;
    width: 100%;
}
h3 {
    font-size: 20px;
}
h4 {
    color: #999;
    font-weight: bold;
    text-transform: uppercase;
  }
/* NAV-LINK STYLES */
.nav-links>li {
    display: inline-block;
    margin-left: 1em;
}
.nav-links > li ~ li {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 1em;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-links a:hover,
.nav-links a:active {
    color: #ff4500 ;
}
/* PARAGRAPH STYLES */
h2 ~ p {
    font-size: 0.8em;
    font-style: italic;
    margin: auto;
    max-width: 70%;
    text-align: center;
}
/* HEADER STYLES */
.header {
    background-color: #000;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 20;
}
.header-logo {
    height: 10vh;
    width: 10vh;
    position: relative;
    box-sizing: border-box;
    display: block;
    background-color: #000;
    text-align: center;
    padding-top: 10px;
    margin-left: -30px;
}
.header-logo:hover,
.header-logo:active{
    background-color: #ff4500;
}
.header-logo img {
    width: 4.3vh;
}
.header-nav {
    float: right;
    padding: 5.5vh 60px 1vh 0;
}
.header-nav>li:first-child a {
    color: #ff4500;
}
.header-nav>li:first-child a:hover {
    color: #fff;
}

/* FOOTER STYLES */
.footer {
    background-color: #000;
    text-align: center;
    padding: 10vh 0 15vh;
}
.footer h3 {
    padding-top: 1.5em;
    color: #fff;
    text-transform: uppercase;
}
.footer h3 span {
    color: #aaa;
}
.footer-logo img {
    width: 50px;
    padding-bottom: 10px;
}
.footer-nav li {
    margin: 2em 1em 1em;
}
/* PAGE STYLES */
.page {
    margin: 10vh auto 15vh;
    max-width: 980px;
    width: 85vw;
  }
  .page h1 {
    font-size: 3em;
    margin-bottom: 1em;
    text-align: center;
  }
  .page h2 {
    margin-bottom: 0.5em;
  }
  .page h4 {
    margin-bottom: 1em;
  }
/* HERO STYLES */
.full-hero {
    background-color: #c7dbfc;
    background-size: cover;
    box-sizing: border-box;
    height: 90vh;
    /* padding-top: 10vh; */
    text-align: center;
}
.hero-home {
    background-image: url(/images/shark.jpg);
    background-position: center top;
}
.hero-content {
    position: relative;
    top: 50%;
    text-transform: uppercase;
    transform: translate( 0, -50%);
}
.full-hero:after {
    border: 10px solid;
    border-color: #fff transparent transparent;
    content: "";
    font-size: 0.8em;
    color: #fff;
    height: 0;
    width: 0;
    position: absolute;
    bottom: 5%;
    left: 50%;
    font-size: 36px;
    transform: translate(-50%, 0);
}
.hero-content h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 7vw;
    margin-top: 0;
}
.hero-content .social-links {
    background-color: rgba(255, 255, 255, 0.8);
    color: #557c83;
}
.hero-content .social-links:hover {
    background-color: #000;
    color: #fff;
}
.half-hero {
    background-position: center center;
    background-size: cover;
    height: 40vh;
  }

/*BIO STYLES*/
.bio-box {
    box-sizing: border-box;
    float: left;
    font-size: 1rem;
    margin: 6rem auto 0;
    padding: 0 3% 1%;
    width: 33%;
}

.bio-box h3 {
    /* font-size: 30px; */
    color: #ffffff;
    margin: -40px 0 2.5em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.bio-box img {
    width: 97%;
    transition: width 500ms, height 500ms;
}
.bio-box img:hover {
    width: 100%;
    height:100%;
}
.bio-box .social-links {
    display: block;
    margin: -2em auto 0.5em ;
}

.bio-wrapper {
    max-width: 960px;
    overflow: hidden;
    margin: 0 auto 30px;
}

.bio-copy {
    font-size: 0.8em;
}

.bio-copy a {
    color: #24b5ae;
}

/*SOCIAL STYLES*/
.social-links {
    background-color: rgba(150, 150, 150, 0.7);
    border-radius: 36px;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    height: 2.5em;
    margin: 2em 0 1 em;
    padding-top: 0.5rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 2.5em;
}

.social-lists {
    list-style: none;
    padding: 0;
    text-align: center;
    /* position: relative; */
    /* z-index: 40; */
}

.social-lists>li {
    display: inline-block;
    padding: 0 10px;
}

/* HOMEPAGE STYLES */
.callout-title {
    text-align: right;
    font-size: 5.75vw;
    text-transform: uppercase;
    flex: 1 1 0;
}
.home-callout {
    background-color: #000;
    color: #fff;
    font-size: 0.8em;
    padding: 7vh 0;
    display: flex;
    align-items: center;
}
.home-callout a {
    color: #24b5ae;
}
.home-section {
    margin: 6rem auto;
    max-width: 980px;
    width: 90vw;
}
.home-section h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.callout-copy {
    /* flex-basis: 0; */
    padding: 0 3vw;
    /* flex-basis: 45em; */
    /* flex-shrink: 0; */
}
.home-section h2 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .home-section h4 {
    margin-bottom: 0.5em;
    text-align: center;
  }
  .home-section .post-header {
    text-align: center;
  }
  .home-section .blog-posts {
    margin: auto;
    width: 75%;
  }
/* COLUMN STYLES */
.col-3 {
    display: flex;
    flex: 1;
}
.col {
    flex-direction: column;
    box-sizing: border-box;
    padding: 1em;
    margin: 0.5em;
}
.col-3 .col-nav {
    flex: 0 1 15em;
}
.col-3 .col-content {
    flex: 1;
}
.col-3 .col-aside {
    flex: 0 1 20em;
}    
.col-two {
    display: flex;
  }
.col-two .col-aside {
    flex: 0 0 20em;
    order: 1;
  }
.col-two .col-content {
    flex: 1;
  }
/* GALLERY STYLES */
.gallery-thumbs {
    height: 90vh;
    overflow: scroll;
  }
  .gallery-thumbs > div {
    cursor: pointer;
  }
  .gallery-thumbs img {
    box-sizing: border-box;
    box-shadow: 0 0 0 5px transparent;
    display: inline-block;
    margin: 0 0 10px;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    width: 100%;
  }
  .gallery-thumbs img:hover {
    opacity: 1;
  }
  .gallery-thumbs .current img {
    box-shadow: 0 0 0 5px #ed6e2f;
    opacity: 1;
  }
  .gallery-photo {
    position: relative;
  }
  .gallery-photo img {
    width: 100%;
  }
  .gallery-info {
    font-size: 0.8rem;
  }
  .gallery-info h3 {
    margin-bottom: 1em;
  }
  /* BLOG STYLES */
  .blog-recent {
    text-align: right;
  }
  .blog-title-list {
    list-style: none;
    padding: 0;
  }
  .blog-title-list li ~ li {
    margin-top: 1.5em;
  }
  .blog-title-list span {
    color: #999;
    display: block;
    font-size: 0.8em;
    font-style: italic;
    margin-top: 0.5em;
  }
  .blog-posts ~ .blog-posts {
    border-top: 1px dotted rgba(0, 0, 0, 0.1);
    margin-top: 4em;
    padding-top: 4em;
  }
  .blog-posts .post-header {
    font-size: 0.8rem;
  }
  .post-header {
    margin-bottom: 1.5em;
  }
  .post-header img,
  .post-header .social-links {
    margin-right: 0.5em;
  }
  .post-header img {
    border-radius: 99px;
    display: inline-block;
    height: 2.5em;
    vertical-align: middle;
  }
  .posts-image {
    background-position: center;
    background-size: cover;
    height: 6em;
    margin-bottom: 1.5em;
  }
  .post {
    width: 100%;
  }
.post-content,
.post-footer {
    margin: auto;
    max-width: 40em;
    width: 85vw;
  }
.pull-left {
    float: left;
    margin: 2em 2em 2em -2%;
  }
.pull-right {
    float: right;
    margin: 2em -2% 2em 2em;
  }
.post-aside {
    background-color: rgba(0, 0, 0, 0.01);
    float: right;
    margin: 0 0 2em 2em;
    padding: 2em;
  }
.post .post-header {
    margin-bottom: 2.5em;
    text-align: center;
  }
.post-content {
    font-size: 1.1rem;
  }
.post-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-style: italic;
    font-size: 0.8em;
    margin-top: 3em;
    padding-top: 2em;
  }
@media (max-width: 800px) {
  html {
    box-shadow: none;
    padding: 0;
  }
  .post-aside {
    display: none;
  } 
}


