<div class="blog-posts">
    <header class="post-header">
      <h2><a href="">{{ post.title }}</a></h2>
      <div class="post-byline">
        <img src=" {{ post.gravatar }}">
        <a class="social-links" href="{{ post.authorTwitter }}">
          <i class="fab fa-twitter"></i>
        </a>
        by: {{ post.author }}
        <span>-{{ post.date | date: '%B %d, %Y'}}</span>
      </div>
    </header>
    <div class="posts-image" style="background-image:url('{{ post.postHero }}')">
    </div>
    {{ post.excerpt }}
    <a href="{{ post.url }}">Read More...</a>
  </div>